@{
    ViewBag.Title = "_sidebar";
}
<div id="viewport">
    <div id="sidebar-wrapper">
        <div id="sidebar">
            <header>
                <img src="~/Image/logo.jpg" height="100px" width="160px" />               
            </header>
            <ul class="nav">
                <li>
                    <a href="@Url.Action("Add", "Applicant")"><i class=""></i> <span class="nav-label">New Quote</span> </a>
                </li>
            </ul>
        </div>
    </div>
</div>

