@*<link href="~/Content/Style.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insurance</title>
    <link href="" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <nav class="navbar navbar-dark bg-dark justify-content-end p-3">
        <a href="@Url.Action("Logout", "Home")">
            <i class="bi bi-box-arrow-right"></i>Logout
        </a>
    </nav>*@

<nav class="navbar navbar-dark bg-dark justify-content-end p-3">
    <a href="@Url.Action("Logout", "Home")">
        <i class="bi bi-box-arrow-right"></i>Logout
    </a>
</nav>
